<p style=" text-align: center; margin-top: 10%; font-size: xx-large;"> TIMER!!!!!</p>
<div style="width: 100%; height: 100%;">
  <div id = 'timers'  style="width: 60%; display: flex; justify-content: space-evenly; margin-left:20%; margin-top:10% ">
    <div class="card" style="width: 20%; text-align: center; font-size: xx-large; white-space: nowrap;">
      <div class="card-body">
        {{("0" + time.hours).slice(-2)}}

      </div>
    </div>
    <div class="card" style="width: 20%;text-align: center;font-size: xx-large;white-space: nowrap;">
      <div class="card-body">
        {{("0" + time.minutes).slice(-2)}}

      </div>
    </div>
    <div class="card" style="width: 20%; text-align: center;font-size: xx-large;white-space: nowrap;">
      <div class="card-body">
        {{("0" + time.seconds).slice(-2)}}

      </div>
    </div>
    <div class="card" style="width: 20%;text-align: center;font-size: xx-large;white-space: nowrap;">
      <div class="card-body">
        {{("0" + time.mseconds).slice(-2)}}

      </div>
    </div>
  </div>
  <div id =" buttons" style="display: flex; width: 40%; margin-left:30%; justify-content: space-evenly; margin-top:10%">  
    <div  style="width:20%">
      <button class="btn btn-primary" style="width:100%; overflow: hidden;" (click)="listeningStopped? setTimmerSub() : clear()">
        {{listeningStopped? "start" :"stop"}}
      </button>
    </div>
    
    <div style="width:20%">
      <button class="btn btn-danger" (click)="reset()" style="width:100%;overflow: hidden;" >
        reset
      </button>
      
    </div >
    <div style="width:20%">
      <button class="btn btn-secondary" (click)="waitEmit()" style="width:100%; overflow: hidden;">
        wait(doubleClick)
        
      </button>
      
    </div>

  </div>
</div>